 <!DOCTYPE html>
<html>
  <head>
    <% include ../../partials/head %>
  </head>
  <body>
    <div class="login page">
      <div class="content login grid ui">
        <div class="row">
          <div class="centered column login wrapper">
            <div class="login-section">
              <div class="centered grey border segment ui">
                  <div class="login content">
                    <div class="image login"></div>

                    <div id="passwordForm">
                      <div class="centered row">
                        <p class="ui negative message" id="errorMsg" style="display: none"></p>
                      </div>

                      <div class="ui grid centered bottom margin single top margin double">
                        <p>Please enter your email address to be sent
                          password recovery information.
                        </p>
                      </div>

                      <div class="centered row">
                        <form class="form column ui" action="/auth/forgot-password" method="post" id="forgotPasswordForm">
                          <div class="field">
                            <label for="username">Email:</label>
                            <input type="text" id="username" name="email" />
                            <span class="ui pointing red basic label" id="emailErrorMsg" style="display: none">
                              Please enter a valid email address
                            </span>
                          </div>
                          <div class="field">
                            <a href="/login">Back to Login</a>
                            <button class="ui right floated big secondary login button" type="submit">
                              Submit
                            </button>
                          </div>
                        </form>
                      </div>
                    </div>

                    <div id="successMsg" style="display: none">
                      <p>If the following email address <b id="userEmail"></b> is found in our system,
                        an email will be sent with password reset instructions.
                      </p>
                      <p>If you do not receive an email,
                        please contact Support at <a href="tel:(617) 390-8040">(617) 390-8040</a> or email
                        <a href="mailto:support@thrivehive.com">support@thrivehive.com</a>.
                      </p>
                      <a href="/login">Back to Login</a>
                    </div>

                  </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% include ../../partials/footer %>
    <script src="/static/scripts/forgotPasswordValidation.js"></script>
  </body>
</html>
