<!DOCTYPE html>
<html>
  <head>
    <% include ../../partials/head %>
  </head>
  <body>
    <div class="login page">
      <div class="ui centered grid login main">
        <div class="row">
          <div class="centered column login wrapper">
            <div class="ui fluid segment border grey">
              <div class="content login">
                <div class="image login"></div>
                <form
                  id="password-reset-form"
                  class="ui form two column"
                >
                  <p>Please choose a new password.</p>
                  <p
                    id="error-message"
                    class="ui negative message"
                    style="display: none"
                  ></p>
                  <input
                    id="email"
                    type="hidden"
                    name="email"
                    value="<%= email %>"
                  />
                  <div class="field required">
                    <label for="new-password">New password</label>
                    <input id="new-password" type="password" name="NewPassword" />
                    <div
                      id="password-strength"
                      class="ui small progress"
                      data-value="0"
                      data-total="4"
                    >
                      <div class="bar">
                        <div class="progress"></div>
                      </div>
                    </div>
                    <p
                      id="new-password-error"
                      class="ui negative message"
                      style="display: none"
                    ></p>
                  </div>
                  <div class="field required">
                    <label for="confirm-password">Confirm Password</label>
                    <input
                      id="confirm-password"
                      type="password"
                      name="ConfirmPassword"
                    />
                    <p
                      id="confirm-password-error"
                      class="ui negative message"
                      style="display: none"
                    ></p>
                  </div>
                  <div class="field">
                    <button
                      id="submit-button"
                      class="ui large secondary right floated button"
                      type="submit"
                    >Change password</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
     <% include ../../partials/footer %>
    <script src="/<%= staticRoot %>/scripts/passwordResetValidation.js"></script>
  </body>
</html>
