version: 2

jobs:
  unit_test:
    machine: true
    steps:
      - checkout
      - run: source .circleci/unit.sh
  integration_test:
    machine: true
    steps:
      - checkout
      - run: source .circleci/integration.sh
  system_test:
    machine: true
    steps:
      - checkout
      - run: source .circleci/system.sh
  acceptance_test:
    machine: true
    steps:
      - checkout
      - run: source .circleci/acceptance.sh
  production:
    machine: true
    steps:
      - checkout
      - run: source .circleci/production.sh
workflows:
  version: 2
  build-test-deploy:
    jobs:
      - unit_test:
          context: org-qa
      - integration_test:
          context: org-stage
          require:
            - unit_test
      - system_test:
          context: org-stage
          require:
            - unit_test
            - integration_test
      - acceptance_test:
          context: org-stage
          require:
            - unit_test
            - integration_test
            - system_test
      - production:
          context: org-prod
          require:
            - unit_test
            - integration_test
            - system_test
            - acceptance_test
