version: 2.1

jobs:
  optional_job:
    machine: true
    steps:
      - when:
          condition: <<parameters.runit>>
          steps:
            - run: echo \"runit\"
workflows:
  version: 2.1
  build-test-deploy:
    jobs:
      - optional_job
