version: 2
jobs:
  build:
    working_directory: ~/propelmarketing/foundry
    parallelism: 1
    shell: /bin/bash --login

    environment:
      CIRCLE_ARTIFACTS: /tmp/circleci-artifacts
      CIRCLE_TEST_REPORTS: /tmp/circleci-test-results
      PATH: ${PATH}:${HOME}/${CIRCLE_PROJECT_REPONAME}/node_modules/.bin:${CIRCLECI_PKG_DIR}/.nvm:${CIRCLECI_PKG_DIR}/nodejs/v8.6.0/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin

    docker:
    - image: circleci/build-image:ubuntu-14.04-XXL-upstart-1189-5614f37
      command: /sbin/init

    steps:
    - checkout
    - run: mkdir -p $CIRCLE_ARTIFACTS $CIRCLE_TEST_REPORTS
    - run: nvm install 8.6.0 && nvm alias default 8.6.0
    - run: grep -rl \<server\> . | xargs sed -i s/\<server\>/${CIRCLE_PROJECT_REPONAME}/
    - run: yarn build
    - run: yarn test
    - run: cat ./coverage/lcov.info | ./node_modules/.bin/codacy-coverage
    - run: source ./scripts/selenium.sh
    - store_test_results:
        path: /tmp/circleci-test-results
    - store_artifacts:
        path: /tmp/circleci-artifacts
    - store_artifacts:
        path: ./coverage
    - store_artifacts:
        path: ./dist
    - store_artifacts:
        path: /tmp/circleci-test-results
