<div class="padding collapsed vertical basic footer segment ui">
  <div class="hide-on-print padded grid ui">
    <% if (agency === 'thrivehive') { %>
    <div class="blue row">
      <span class="left margin double top padding one quarter">ThriveHive © 2017</span>
      <div class="footer right">
        <span class="mixpanel-analytics-button float right">
          <a href="//mixpanel.com/f/partner">
            <img src="//cdn.mxpnl.com/site_media/images/partner/badge_blue.png" alt="Mobile Analytics" class="footer pixel">
          </a>
        </span>
        <a class="item footer top padding one quarter" href="//thrivehive.com/legal/advertising_terms" target="_blank">Terms of Use</a>
      </div>
    </div>
    <% } else { %>
      <span class="mixpanel-analytics-button float right">
        <a href="//mixpanel.com/f/partner">
          <img src="//cdn.mxpnl.com/site_media/images/partner/badge_blue.png" alt="Mobile Analytics" class="footer pixel">
        </a>
      </span>
    <% } %>    
  </div>
</div>
<script src="/static/scripts/tracking.js"></script>
