<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <table>
      <tr>
        <td></td>
        <td>
          <table>
            <thead>
              <tr><td><h1>Your Password Was Recently Reset</h1></td></tr>
            </thead>
            <tbody>
              <tr><td></td></tr>
              <tr>
                <td>
                  <p>
                    You are receiving this email to confirm that you recently
                    successfully reset your password for the following account.
                  </p>
                  <% if (username) { %>
                    <p>Username: <strong><%= username %></strong></p>
                  <% } %>
                  <p>
                    If you did not reset your password, please email
                    support@thrivehive.com to resolve this error.
                  </p>
                  <p><strong>Thank you for using <%= agencyName %>!</strong></p>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="//my.thrivehive.com" target="_blank">
                    <object
                      width="20%"
                      height="auto"
                      data="<%= cdn %>/<%= agency %>/img/png/logo.png"
                      type="image/png"
                    ></object>
                  </a>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr><td></td></tr>
            </tfoot>
          </table>
        </td>
        <td></td>
      </tr>
    </table>
  </body>
</html>
